.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--corBgHead);
  padding: clamp(15px, 1.9vh, 30px) clamp( 15px, 3.1vw, 30px);
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
}

.espaco-header {
  display: flex;
  height: 12.7vh;
}

.logo img {
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.navbar ul li {
  border-radius: 8px;
  margin-right: clamp(12px, 2vw, 25px);
  background-color: var(--corBgBtn);
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a {
  font-size: 1rem;
  font-family: var(--fonteTitulo);
  color: var(--corGold);
  text-decoration: none;
  cursor: pointer;
}

.navbar ul li:hover {
  transform: scale(1.05);
  background-color: rgb(38, 41, 41);
}

.navbar .menu {
  display: none;
  align-self: center;
  font-size: 1.1rem;
  cursor: pointer;
  max-width: fit-content;
  height: fit-content;
}

.pt_en {
  align-self: center;
  font-size: 1.1rem;
  cursor: pointer;
  max-width: fit-content;
  height: fit-content;
}

.vazio-a {
  flex: 1;
}

.vazio-b {
  flex: 1.35;
}
