.contato-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: var(--paddingPadrao);
  min-height: var(--minHeightPadrao);
}

.contato-flex > h2 {
  font-family: var(--fonteTitulo);
  font-size: var(--tamanhoTituloH2);
  color: var(--corGold);
  margin-bottom: var(--distTitulo-Body);
}

.contato-flex > p {
  background-color: var(--corBox);
  border-radius: 5px;
  display: flex;
  font-family: var(--fonteP);
  font-size: var(--tamanhoP);
  color: var(--corGold);
  padding: clamp(40px, 5vh, 60px) clamp(5px, 1vw, 10px);
  margin-bottom: 25px;
}

.contato-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.contato-info p {
  
  font-size: clamp(18px, 1.6vw, 30px);
  font-family: var(--fonteP);
  margin-bottom: clamp(20px, 5vh, 40px); 
  gap: 15px; 
  }

.contato-info p,
.contato-info a {
  text-decoration: none;
  color: var(--corGold);
}

.contato-info a {
  display: flex;
  align-items: center; 
}

.contato-info img {
  width: 70px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.contato-info p:hover img{
  transform: scale(1.1);
}