.portifolio-flex {
  display: flex;
  flex-direction: column;
  padding: var(--paddingPadrao);
  width: 100%;
  min-height: var(--minHeightPadrao);
}

.portifolio-flex h2 {
  color: white;
  font-size: var(--tamanhoTituloH2);
  font-family: var(--fonteTitulo);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--distTitulo-Body);
}

.portifolio-conteudo {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.portifolio-conteudo p {
  font-size: var(--tamanhoP);
  font-family: var(--fonteP);
  color: var(--corGold);
  width: 23ch;
  text-align: left;
  line-height: 1.85rem;
  margin-top: 27px;
  text-align: justify;
}

.carrosel {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.carrosel > * {
  align-self: flex-end;
}

.carrosel-item img {
  width: clamp(500px, 54vw, 700px);
  height: auto;
  aspect-ratio: 7 / 3.8;
  box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.6);
}

.carrosel-item {
  position: relative;
  display: none;
}

.carrosel-titulo {
  background-color: rgb(0, 0, 0, 0.85);
  position: absolute;
  z-index: 25;
  top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
  height: 25%;
  width: 100%;
  align-content: center;
  box-shadow: 0px 3px 2px rgb(0, 0, 0, 0.2);
}

.carrosel-titulo h3 {
  padding: clamp(15px, 1.8vh, 25px) clamp(15px, 1vw, 25px);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(16px, 1.8vw, 24px);
  font-weight: bold;
  -webkit-text-stroke: 0.3px #000;
}

.ativo {
  display: block;
}

.paginacao {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 6px;
}

.paginacao > * {
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: white;
  padding: 0.4rem;
  border-radius: 5px;
}

.paginacao .ativo {
  transform: scale(1.1);
  background-color: rgb(146, 146, 146)
}