.rodape {
    display: flex;
    height: clamp(20px, 3vh, 30px);
    background-color: var(--corBgHead);
    align-items: center;
    justify-content: center;
}

.rodape p {
    font-family: monospace;
    color: var(--corGold);
    font-size: clamp(12px, 1.5vh, 18px);
}