.sobre-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    min-height: var(--minHeightPadrao);
    padding: var(--paddingPadrao);
}

.sobre-flex > * {
    padding: clamp(10px, 1vw, 20px) clamp(10px, 2vh, 20px);
    
}

.sobre-flex h2 {
    color: var(--corOnOff);
    font-family: var(--fonteTitulo);
    font-size: var(--tamanhoTituloH2);
    margin-bottom: var(--distTitulo-Body);
}

.sobre-flex p {
    background-color: var(--corBox);
  padding: 15px;
  border-radius: 5px;
    font-size: var(--tamanhoP);
    font-family: var(--fonteP);
    color: var(--corGold);
}
